<header>
  <div class="header">
    <div class="header-container">
      <div class="header-container_welcome">Bem-vindo ao dashboard</div>
      <div>
        <button class="header-container_logout" (click)="logout()">sair</button>
      </div>
    </div>
  </div>
</header>

<div>
  <button
    class="add-button_fixed"
    mat-fab
    color="secondary"
    aria-label="Adicionar produto"
    (click)="openDialog(null)"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="table">
  <table mat-table #table [dataSource]="payments" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Usuário</th>
      <td mat-cell *matCellDef="let payment">{{ payment.username }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let payment">{{ payment.title }}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let payment">R$ {{ payment.value }}</td>
    </ng-container>

    <ng-container matColumnDef="isPayed">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Pago</th>
      <td mat-cell *matCellDef="let payment">{{ payment.isPayed }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="table-header" mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let payment">
        <button mat-icon-button (click)="updatePayment(payment)" color="basic">
          <mat-icon> edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="deletePayment(payment.id)"
          color="basic"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
